@import url('https://altinncdn.no/fonts/inter/inter.css');

@layer normalize, ds;

body {
    color: var(--ds-color-neutral-text-default);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
  
    /* Still need important here, since we are using `font:` outside of a layer */
    font-feature-settings: 'cv05' 1 !important;
}